<div style="width: 464px; height: 430px; position:absolute;
  top: 35%; left: 48%; transform: translate(-52%, -50%);
   padding: 40px 25px; background-color: #e7e7e7; border-radius: 20px;
  z-index: 1000">
  <form class="form-signin " [formGroup]="loginForm" (ngSubmit)="login()">
<!--        <img class="mb-4 d-block mx-auto" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <div style="position:relative;">
      <h2 class="text-center">Haravan - Đăng nhập</h2>
<!--      <div style="position:absolute; top: 40px; left: 50% ;width: 80px;height: 5px ;background: black"></div>-->
    </div>
    <p class="text-center ">Xin chào, vui lòng nhập thông tin đăng nhập</p>
     <h3 class="text-center mb-5">oceantech</h3>
    <input type="text" name="username" class="form-control mb-2" placeholder="Tên đăng nhập"
           formControlName="username" required autofocus>
    <input type="password" name="password" class="form-control mb-4" placeholder="Mật khẩu" formControlName="password"
           required>
    <button class="btn btn-lg btn-primary btn-block w-100"
            type="submit">Đăng nhập
    </button>
  </form>
</div>
