<section style="position: relative; width: 100%; height: 100vh; background-color: #e4e9f7">
  <div style="width: 350px; height: 300px; position:absolute; top: 35%; left: 50%; transform: translate(-50%, -50%); padding: 40px 25px; background-color: #ffff; border-radius: 20px; ">
    <form class="form-signin " [formGroup]="loginForm" (ngSubmit)="login()">
      <!--    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal text-center mb-5  fw-bold">Đăng nhập hệ thống</h1>
      <label  class="sr-only">Tên đăng nhập</label>
      <input type="text" name="username"   class="form-control mb-2" placeholder="Tên đăng nhập" formControlName="username" required autofocus>
      <label  class="sr-only">Mật khẩu</label>
      <input type="text" name="password"   class="form-control mb-4" placeholder="Mật khẩu" formControlName="password" required>
      <button class="btn btn-lg btn-primary btn-block" style="position: absolute; left: 50%; transform: translateX(-50%)" type="submit">Đăng nhập</button>
    </form>
  </div>
</section>
