<div class="card">
  <div class="card-header">
    <h2>Danh sách các dự án</h2>
  </div>
  <div class="card-body">
<!--    <div class="container mt-5 w-50" id="main-container">-->
<!--      <div class="d-flex">-->
<!--        <a-->
<!--          class="btn btn-outline-success mb-3 text-decoration-none"-->
<!--          id="add-btn-open-modal"-->
<!--          (click)="onOpenModalAdd('add')"-->
<!--          style="height: 36px;">-->
<!--          <i class="fa-solid fa-plus"></i>-->
<!--          Thêm-->
<!--        </a>-->
<!--        <a-->
<!--          class="btn  me-2 btn-outline-secondary text-decoration-none ms-2"-->
<!--          style="height: 36px"-->
<!--          id="x-btn-open-x"-->
<!--          href="/dantoc">-->
<!--          <i class="fa-solid fa-arrows-rotate"></i>-->
<!--          Tải lại trang-->
<!--        </a>-->
<!--      </div>-->
<!--      <table class="table table-striped table-hover">-->
<!--        <thead class="mt-3 text-light" style="background-color: #1d1b31">-->
<!--        <tr>-->
<!--          <th>ID</th>-->
<!--          <th>Tên dân tộc</th>-->
<!--          <th>Tùy chọn</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr-->
<!--          *ngFor="-->
<!--              let item of listDanToc-->
<!--                | paginate-->
<!--                  : {-->
<!--                      id: 'dan-toc-p',-->
<!--                      itemsPerPage: 5,-->
<!--                      currentPage: p,-->
<!--                      totalItems: listDanToc.length-->
<!--                    }-->
<!--            "-->
<!--        >-->
<!--          <td>{{ item.maDanToc }}</td>-->
<!--          <td>{{ item.tenDanToc }}</td>-->
<!--          <td>-->
<!--            <div class="float-right btn-group btn-group-sm">-->
<!--              <a-->
<!--                class="btn btn-sm btn-warning tooltips"-->
<!--                data-placement="top"-->
<!--                data-toggle="tooltip"-->
<!--                data-original-title="Edit"-->
<!--                (click)="onOpenEditOrDeleteModal(item, 'edit')"-->
<!--              >-->
<!--                <i class="fa-solid fa-pen-to-square me-1"></i>-->
<!--              </a>-->
<!--              <a-->
<!--                class="btn btn-sm btn-danger tooltips"-->
<!--                data-placement="top"-->
<!--                data-toggle="tooltip"-->
<!--                data-original-title="Delete"-->
<!--                (click)="onOpenEditOrDeleteModal(item, 'delete')"-->
<!--              >-->
<!--                <i class="fa-solid fa-eraser me-1"></i>-->
<!--              </a>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <nav class="mt-5 text-center w-100">-->
<!--        <pagination-controls-->
<!--          (pageChange)="p = $event"-->
<!--          id="dan-toc-p"-->
<!--          previousLabel=""-->
<!--          nextLabel=""-->
<!--        >-->
<!--        </pagination-controls>-->
<!--      </nav>-->
<!--    </div>-->
  </div>
</div>
