<section id="section">
  <div class="main">
    <div class="header__body active-bg-purple">
      <h1 class="header__title">Công ty tnhh ocean tech</h1>
    </div>

    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="box__item active-bg-purple-dark me-5">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongSoTaiKhoan}}</span>
            <p>Tổng số tài khoản</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-unlock"></i>
          </div>
        </div>


        <div class="box__item active-bg-purple me-5">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongSoNhanVien}}</span>
            <p>Tổng số nhân viên</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>


        <div class="box__item active-bg-purple-dark me-5">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongSoDonVi}}</span>
            <p>Tổng số đơn vị</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-house"></i>
          </div>
        </div>


        <div class="box__item active-bg-purple">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongSoPhongBan}}</span>
            <p>Tổng số phòng ban</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-users"></i>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-center mt-5">
        <div class="box__item active-bg-purple-dark me-5">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongChucVu}}</span>
            <p>Tổng số chức vụ</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-network-wired"></i>
          </div>
        </div>


        <div class="box__item active-bg-purple ">
          <div class="box__title">
            <span class="countdown" *ngIf="countdown$ | async as countdown">{{countdown}}</span>
            <span class="countdown" *ngIf="countdown == 0">{{tongSoDuAn}}</span>
            <p>Tổng số dự án</p>
          </div>
          <div class="box-icon">
            <i class="fa-solid fa-diagram-project"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

